@use "element-plus/theme-chalk/el-button.css";
@use "element-plus/theme-chalk/el-dialog.css";
@use "element-plus/theme-chalk/el-step.css";
@use "element-plus/theme-chalk/el-steps.css";
@use "element-plus/theme-chalk/el-radio-button.css";
@use "element-plus/theme-chalk/el-radio-group.css";

@use "./dialog.scss";
